<nav
    class="navbar navbar-expand-lg navbar-dark bg-black px-4 d-flex align-items-center justify-content-between text-white">
    <div class="fw-bold fs-5 d-flex gap-5">
        <img src="assets/img/logo.png" width="80px" height="30px" alt="Logo" class="logo my-3">
        <h3 class="mt-2">Evaluación</h3>

    </div>

    <div class="d-flex align-items-center gap-4 mt-2">
        <div>
            <span class="me-2">Juan Pérez</span>
            <p>Rol: Administrador</p>
        </div>
        <img src="assets/img/usuario.jpg" alt="Usuario" width="40" height="40" class="rounded-circle">
        <button class="btn btn-outline-light ms-3" type="button">
            <i class='bx bx-log-out'></i>
        </button>
    </div>
</nav>